<div id="wp-auth-check-wrap" class="hidden">
    <div id="wp-auth-check-bg"></div>
    <div id="wp-auth-check">
        <button type="button" class="wp-auth-check-close button-link"><span class="screen-reader-text">
                Đóng hộp thoại </span></button>
        <div id="wp-auth-check-form" class="loading"></div>
        <div class="wp-auth-fallback">
            <p><b class="wp-auth-fallback-expired" tabindex="0">Phiên làm việc đã hết hạn</b></p>
            <p><a href="http://localhost/wp-login.php" target="_blank">Hãy đăng nhập lại.</a>
                Trang đăng nhập sẽ được mở trong cửa sổ mới. Sau khi đăng nhập, bạn có thể đóng cửa sổ và quay
                lại trang hiện tại.</p>
        </div>
    </div>
</div>