<div id="adminmenumain" role="navigation">
    <div id="adminmenuback"></div>
    <div id="adminmenuwrap">
        <ul id="adminmenu">
            <li class="wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard "
                id="menu-dashboard">
                <a class="wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last"
                    aria-haspopup="false">
                    <div class="wp-menu-image dashicons-before dashicons-admin-post" aria-hidden="true"><br>
                    </div>
                    <div class="wp-menu-name">Bài viết</div>
                </a>
                <ul class="wp-submenu wp-submenu-wrap">
                    <li class="wp-submenu-head" aria-hidden="true">Bài viết</li>
                    <li class="wp-first-item"><a href="" class="wp-first-item">Tất cả bài viết</a></li>
                    <li><a href="">Viết bài mới</a></li>
                    <li><a href="">Chuyên mục</a></li>
                    <li class="current"><a href="/admin/tag">Thẻ</a></li>
                </ul>
            </li>
            <li id="collapse-menu" class="hide-if-no-js"><button type="button" id="collapse-button"
                    aria-label="Thu nhỏ menu chính" aria-expanded="true"><span class="collapse-button-icon"
                        aria-hidden="true"></span><span class="collapse-button-label">Thu gọn
                        menu</span></button></li>
        </ul>
    </div>
</div>