<div class="col-6">
    <form action="/dashboard/tags/add">
        <input name="name"/>
        <input name="slug"/>
        <input name="description"/>
        <button type="submit">Thêm thẻ</button>
    </form>
</div>