<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Amazon Affiliate {{title}}</title>

        <!-- CSS FILES -->        
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">

        <link href="/public/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/public/css/style.css" rel="stylesheet">

    </head>
    
    <body id="section_1">
        <main>
            {{{body}}}
        </main>
        <!-- JAVASCRIPT FILES -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
    </body>
</html>