<!DOCTYPE html>
<html class="wp-toolbar" lang="vi">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Amazon Affiliate {{#if title}}- {{title}}{{/if}} </title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/coreui/favicon/ms-icon-144x144.png">
    <link rel="stylesheet" href="/public/admin/css/buttons.css">
    <link rel="stylesheet" href="/public/admin/css/dashicons.css">
    <link rel="stylesheet" href="/public/admin/css/dashboard.css">
    <link rel="stylesheet" href="/public/admin/css/admin-bar.css">
    <link rel="stylesheet" href="/public/admin/css/wp-admin.css">
    <link rel="stylesheet" href="/public/admin/css/wp-auth-check.css">
    <script src="/public/admin/js/jquery.min.js"></script>
    <script src="/public/admin/js/jquery.validate.min.js"></script>
</head>

<body
    class="wp-admin wp-core-ui js index-php auto-fold admin-bar branch-6-2 version-6-2 admin-color-fresh locale-vi customize-support svg"
    cz-shortcut-listen="true">
    <div id="wpwrap">
        {{>admin.main.menu}}
        <div id="wpcontent">
            {{>admin.bar}}
            <div id="wpbody" role="main">
                <div id="wpbody-content">
                    {{{body}}}
                    <div class="clear"></div>
                </div><!-- wpbody-content -->
                <div class="clear"></div>
            </div><!-- wpbody -->
            <div class="clear"></div>
            {{>admin.auth.check}}
        </div><!-- wpcontent -->
        <div id="wpfooter" role="contentinfo">
            <p id="footer-left" class="alignleft">
                <span id="footer-thankyou">Cảm ơn bạn đã dùng sản phẩm của Hùng ahihi</span>
            </p>
            <div class="clear"></div>
        </div>
    </div>
</body>
{{!--<script src="/public/admin/js/i18n.js"></script>--}}
<script src="/public/admin/js/common.js"></script>
<script src="/public/admin/js/hoverIntent.js"></script>

</html>