<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Amazon Affiliate {{title}}</title>

        <!-- CSS FILES -->        
        <link href="/public/css/dashicons.css" rel="stylesheet">
        <link href="/public/css/buttons.css" rel="stylesheet">
        <link href="/public/css/forms.css" rel="stylesheet">
        <link href="/public/css/I10n.css" rel="stylesheet">
        <link href="/public/css/login.css" rel="stylesheet">
    </head>
    
    <body class="login js login-action-login wp-core-ui  locale-vi">
        <main>
            {{{body}}}
        </main>
        <!-- JAVASCRIPT FILES -->
        <script src="/public/js/jquery/jquery.min.js"></script>
        <script src="/public/js/user-profile.js"></script>
    </body>
</html>